<div class="container">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" #email placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" #email1 placeholder="Enter email">
    </div>
    <button type="submit" (click) = "myfun(email.value , email1.value)" class="btn btn-primary">Submit</button>
  </form>
</div>